@import "../../../styles/mixins";

.overlay {
  @include flex-center;

  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.notiContainer {
  @include flex-center;

  background-color: #fff;
  border-radius: 5px;
  width: 500px;
  height: 100px;
  padding: 20px;
}

.errorDescript {
  @include flex-center;

  flex-direction: column;
  font-size: 20px;
  font-weight: bold;
}

.img {
  padding-bottom: 10px;
}

.exitButton {
  background-color: #00ff7f;
  border-radius: 3px;
  padding: 10px 20px;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    background-color: #805ac2;
    color: #ffa;
  }

  &:active {
    cursor: default;
  }
}
