@import "../../../styles/mixins";

.container {
  @include flex-center;

  flex-direction: column;
  flex: 1;
  width: 600px;
  height: 500px;
  margin-right: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.menuTitle {
  color: #000;
  font-size: 40px;
  font-weight: bold;
}

.btnContainer {
  @include flex-center;

  padding: 20px;
}
