@import "../../../styles/mixins";

.overlay {
  @include flex-center;

  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.notiContainer {
  @include flex_center;

  flex-direction: column;
  background-color: #fff;
  border-radius: 5px;
  width: 500px;
  height: 100px;
  padding: 20px;
}

.loadingDescript {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 10px;
}

.img {
  width: 56px;
}
