$shadow-x: 0px;
$shadow-y: 3px;

.valueInput {
  width: 375px;
  height: 40px;
  border-radius: 5px;
  font-size: 16px;
}

.okButton {
  width: 150px;
  height: 40px;
  margin: 10px;

  font-weight: bold;
  font-size: 18px;
  border-radius: 3px;
  box-shadow: $shadow-x $shadow-y 0 #000;
  background-color: #ec3652;

  &:hover {
    cursor: pointer;
    background-color: #81cdff;
    box-shadow: $shadow-x $shadow-y 0 #000;
  }

  &:active {
    box-shadow: calc(#{$shadow-x} / 2) calc(#{$shadow-y} / 2) 0 #000;
    transform: translate(calc(#{$shadow-x} / 2), calc(#{$shadow-y} / 2));
  }
}
