@import "../../../styles/mixins";

$square-size: calc(100% / 9);
$border-style: inset;

.cell {
  width: $square-size;
  height: $square-size;
  border-bottom: $border-style;
  border-right: $border-style;
  background-color: #fff;
  font-weight: bold;
  font-size: 30px;

  // display
  @include flex-center;
}
